<div class = "recommendation_wrapper">
	<div class = "recommendation_title">
		<h2>Places and people you may like</h2></div>
		<%= render :partial => 'session/restaurant_item', :collection => @best_restaurants, :as => :restaurant, :locals => {:text => "Has high ratings"} %>
	<%= render :partial => 'session/reviewer_item', :collection => @popular, :as => :reviewer, :locals => {:text => "Has lots of followers"} %>
	<%= render :partial => 'session/reviewer_item', :collection => @reviewers, :as => :reviewer, :locals => {:text => "Has lots of reviews"} %>

	</div>