<div class = "suggestion_holder rounded-corner">
<%= image_tag reviewer.get_user_small_pic(@graph), :class => 'suggestion_pic' %>
<div class = "suggestion_text">
<p>	<%= link_to reviewer.name, reviewer %></p>
	<p><%= text %></p></div></div>