<div id="fb-root"></div>

<div id = "home_wrapper">
<%# if params[:welcome] %>
<%= render 'session/info_button' %>
<%# end %>
	<%= render 'restaurants/searchbox' %>
<%= render 'session/recommendations' %>
</div>






