<p>Follow the foodies you trust</p>
<p>Search restaurants</p>
<p>Get your foodies' recommendations first</p>
<p>Not enough info? Search Google!</p>
<p>Help you're friends by adding reviews.</p>
<p>Share, recommend, request reviews</p>
