<%= render 'fb-scripts/facebook_signin' %>

<h1>Welcome to KweeKweg</h1>
<div class="fb-facepile" data-max-rows="5" data-width="300"></div>
<fb:login-button
registration-url="../register" onlogin="login()" />
