<% @profile = @graph.get_connections("me", "friends", :fields => "name, id, picture")%>

<ul>Facebook Friends
<% @profile.reject{|profile| User.find_by_fb_id(profile["id"])}.each do |profile| %>
<% @friend_id = profile["id"] %>
<li>
	<%= image_tag profile["picture"]["data"]["url"] %><%= profile["name"] %>
	<button id="invite_friend" onclick="invite(<%= profile['id'].to_s %>)">Invite</button>
</li>
<% end %>
</ul>