<li class="user_summary rounded-corner">
	<div class = "user_summary_top">
<%= render 'users/user_summary_left', :user => user %>
<%= render 'users/user_summary_right', :user => user %>
</div>
<%= render 'users/user_summary_bottom', :user => user %>
</li>