<nav id = "follow_buttons">
<%= link_to "Reviews (#{@user.reviews.count})", @user, :id => @user.reviews.count, :class => "selected user_reviews_button" %>
<%= link_to "Trusts (#{@user.following.count})", following_user_path(@user), :class => "follows_list_button", :remote => true %>
<%= link_to "Trusted by (#{@user.followers.count})", followers_user_path(@user) , :class => "followed_list_button", :remote => true %>
<% if @user == @current_user %>
	<%= link_to "+ friends", facebook_friends_user_path, :class => "add_friends_button" %>
<% end %>
</nav>