<div id = "user_info_center">
	<ul class = "flat_list">
		<li class = "flat_list_item">Average:</li>
			<li id = "app_stars" class = "flat_list_item"><div class = "stars empty"><div class = "stars filled_<%= average(@user) %>"></div></div></li></ul>
		<ul class = "flat_list">	<li id = "review_count" class = "flat_list_item"><%= pluralize(@user.reviews.count, "review") %></li></ul>
</div>

