<div id = "user_info_right">
<% if @user.fb_pic_large %>
<%= image_tag @user.user_large_photo(@graph), :id => "user_large_pic" %>
<% end %>
<% unless @user == @current_user %>
	<div id="button_<%= @user.id %>", class="follow_button">
		<% if @current_user.following?(@user.id) %>
			<%= render 'relationships/buttons/unfollow_button', :followed_id => @user.id, :current_user_id => @current_user.id, :user_id => @user.id %>
		<% else %>
			<%= render 'relationships/buttons/follow_button', :followed_id => @user.id, :current_user_id => @current_user.id, :user_id => @user.id %>
		<% end %>
		</div>
	<% end %>
</div>