<div class = "user_summary_right">
	<ul>
		<li class = "review_count" ><%= pluralize(user.reviews.count, "review") %></li>
<li class = "follower_count"><%= "Trusted by " + pluralize(user.followers.count, "kwegger") %></li>
<li class = "common_friends"><%= "Trusts "%> <%= pluralize(user.following.count, "kwegger") %></li>


	</ul>
	
</div>

