<%= render 'facebook_friends_script' %>
<div id = "facebook_friends">
<ul>Facebook Friends
<% @facebook_friends_invite.each do |profile| %>
<% @attr = {:id => nil, :fb_pic => profile["picture"]["data"]["url"], :fb_id => profile["id"], :name => profile["name"]} %>
<%= render "users/user_profile_summary", :user => User.new(@attr)%>

<% end %>
</ul></div>
<div id = "facebook_friends_enrolled">
	<ul>Friends on KweeKweg
			<% @facebook_friends_enrolled.reject{|friend| @current_user.following.include?(friend)}.each do |friend| %>	
			<% @attr = {:id => friend.id, :fb_pic => friend.fb_pic, :fb_id => friend.fb_id, :name => friend.name} %>
			<%= render "users/user_profile_summary", :user => friend %>
			<% end %>
	</ul>

</div
>