<%= render 'fb-scripts/facebook_friends_script' %>
<div class = "user_info" id = "<%= @current_user.id %>"></div>
<div class = "new_friend_lists"></div>


<div id = "facebook_friends">
	<div class = "friend_title">Facebook Friends</div>
</div>


<div id = "facebook_friends_enrolled">
<div class = "friend_title">Friends on <%= APP_NAME %></div>
	<ul>
			<% @facebook_friends_enrolled.each do |friend| %>	
			<%= render "users/user_profile_summary", :user => friend %>
			<% end %>
	</ul>
</div>
