<%= render 'facebook_friends_script' %>
<div class = "user_info" id = "<%= @current_user.id %>"></div>
<div id = "facebook_friends">
<ul>Facebook Friends
<%# @facebook_friends_invite.each do |profile| %>
<%#= render "users/new_user_profile_summary", :user => User.new(set_attr_from_fb(profile))%>
<%#end %>

</ul></div>
<div id = "facebook_friends_enrolled">
	<ul>Friends on KweeKweg
			<% @facebook_friends_enrolled.reject{|friend| @user.following.include?(friend)}.each do |friend| %>	
			<% @attr = {:id => friend.id, :fb_pic => friend.fb_pic, :fb_id => friend.fb_id, :name => friend.name} %>
			<%= render "users/user_profile_summary", :user => friend %>
			<% end %>
	</ul>
</div>
