<%= @user.name %>
<%= link_to "Add friends", facebook_friends_user_path %>

<table><tr><td>
<div id = "trusts">Trusts</div></td>
<td><div id = "trusted_by">Trusted by</div></td></tr></table>
<div id = "relationship_list"><%= render 'trusts' %></div>