<ul class = "flat_list">
	<li class = "flat_list_item"><a id = "google_rating">
		<div class = "stars empty">
		<div class = "stars filled_<%= google_rating %> google">
		</div>
			</div>
		</a>
	</li>
		<li class = "flat_list_item"><%= image_tag "/assets/google-med.png", :id => "google_logo", :size => "55x20" %></li>
</ul>