<ul class = "flat_list">
			
			<li class = "flat_list_item"><div class = "stars empty"><div class = "stars filled_<%= venue.average %>"></div></div></li>
			<li id = "review_count" class = "flat_list_item"><%= pluralize(venue.reviews.count, "friend review") %></li></ul>