<ul class = "flat_list">
			
			<li class = "flat_list_item"><div class = "stars empty"><div class = "stars filled_<%= average(venue).to_i %>"></div></div></li>
			<li id = "app_stars" class = "flat_list_item">Friends</li>
			<li id = "review_count" class = "flat_list_item"><%= pluralize(venue.reviews.count, "review") %></li></ul>