<ul class = "flat_list">
		<li class = "flat_list_item"><%= render 'reviews/buttons/rate_restaurant', :restaurant_id => restaurant_id, :venue_field => venue_field, :search => search %></li>
		<li class = "flat_list_item"><%= render 'reviews/buttons/add_review', :restaurant => restaurant %></li>
		</ul>