<ul class = "flat_list">
			<li class = "flat_list_item"><div class = "stars empty"><div class = "stars filled_<%= average(user) %>"></div></div></li>
			<li id = "app_stars" class = "flat_list_item">Average</li></ul>