<%= render 'restaurants/review_request_script' %>

<% if @google_results.blank? %>
<p>Your search yielded nothing. Try again!</p>
<% else %>
<ul>
	<% @google_results.each do |result| %>
	<%= render 'restaurants/restaurant_summary', :result => result, :venue => Restaurant.new(set_attr_from_google(result).merge(:id => nil)) %>
	
	<% end %>
</ul>
<% end %>