<%= render 'fb-scripts/review_request_script' %>
<div class = "google_restaurant_title">
<h2 >What Google recommends</h2>
<%= image_tag "powered-by-google-on-white.png", :class => "powered_by_google" %>

</div>

<% unless @google_results.blank? %>
<ul class = "google_restaurant_list">
	<%= render :partial => 'restaurants/google_restaurant_summary', :collection => @google_restaurant_list, :as => :restaurant %>
</ul>
<%= raw @google_response["html_attributions"].join(", ")%>
<% end %>

