<script>
var map;
var service;

function initialize_map(lat, lng, ref) {
  
  var center = new google.maps.LatLng(lat, lng);
  map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: center,
    zoom: 16
  });

  var request = {
    location: center,
    radius: '1000',
    types: <%= raw GOOGLE_TYPES %>
    
  };

  var reference = {
    reference: ref
  };


  service = new google.maps.places.PlacesService(map);
  service.nearbySearch(request, map_callback);
  service.getDetails(reference, detail_callback);
  
}


function map_callback(results, status) {
  var infowindow;
  if (status == google.maps.places.PlacesServiceStatus.OK) {

    for (var i = 0; i < results.length; i++) {

      place = results[i];
      
      (function(map, place){

        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          title: place.name
        });  

        google.maps.event.addListener(marker, 'click', function() {
          if (infowindow) infowindow.close();
          place_attributes = {google_id: place.id, 
                              google_reference: place.reference,
                              lat: place.geometry.location.lat(), 
                              lng: place.geometry.location.lng()
                            };
            encoded = window.btoa(encodeURIComponent(JSON.stringify(place_attributes)));
            contentString = '<a method = "get" href="/restaurants/new?search=<%= params[:search] %>&venue_data='+encoded+'">'+place.name+'</a><div>'+place.vicinity+'</div>';
            infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            infowindow.open(map,marker);
          });  
        marker.setMap(map);

      }(map, place));
      
    }
  }
}

//Set full profile view
function detail_callback(place, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {


    if (place.photos){
      photo = place.photos[0].getUrl({'maxWidth': 150, 'maxHeight': 150});
      document.getElementById("restaurant_photo").src=photo;
    }  

    document.getElementById("venue_name").innerHTML = place.name;
    document.getElementById("formatted_address").innerHTML = place.formatted_address;

    if (place.rating){
      var rating = document.getElementById("google_rating");
      rating.setAttribute("href", place.url);
      rating.setAttribute("target", "_blank");
      rating.innerHTML = "Google rating: "+place.rating;
      var logo = document.getElementById("google_logo");
      logo.setAttribute("src", "/assets/google-med.png");
    }
    name_json = {name: place.name};
    document.getElementById("share_button").setAttribute("onclick", 'postToFeed("'+place.name+'","<%= @current_user.first_name.to_s %>"); return false;');

venue = { name: place.name,
          google_id: place.id,
          formatted_address: place.formatted_address,
          google_reference: place.reference,
          google_types: place.types.toString(),
          google_rating: place.rating,
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        };

encoded_venue =  window.btoa(encodeURIComponent(JSON.stringify(venue)));

    document.getElementById("search_field").setAttribute("value", '<%= params[:search] %>');
    document.getElementById("venue_field").setAttribute("value", encoded_venue);


  }
}


</script>