 <script> 
      FB.init({appId: '<%= Facebook::APP_ID.to_s %>', status: true, cookie: true});

      function postToFeed(venue_json) {
      	//var venue_info = JSON.parse(venue_json)
        // calling the API ...
        var obj = {
          method: 'feed',
         // redirect_uri: '<%= Facebook::SITE_URL.to_s %>',
          link: 'https://developers.facebook.com/docs/reference/dialogs/',
          picture: 'http://fbrell.com/f8.jpg',
          name: 'Facebook Dialogs',
          caption: 'Reference Documentation',
          description: 'Looking for a review of <b>'+venue_json["name"]+'</b>'
         //properties: {"text" :venue_json[:"name"]}
        };

        function callback(response) {
        	if (response['post_id']){
        		document.getElementById('msg').innerHTML = "Request posted!";
        	}
        }

        FB.ui(obj, callback);
      }
    
    </script>


<% if @google_results.blank? %>
<p>Your search yielded nothing. Try again!</p>
<% else %>
<ul>
	<p>Hello</p>
	<% @google_results.each do |result| %>
	<%= render 'restaurants/restaurant_summary', :result => result, :venue => Restaurant.new(set_attr_from_google(result).merge(:id => nil)) %>
	
	<% end %>
</ul>
<% end %>