<div id = "restaurant_info_right">
	<%= render "reviews/buttons/review_input", :restaurant_id => @restaurant.id ? @restaurant.id : nil, :venue_field => @encoded_venue, :search => @search, :restaurant => @restaurant %>
<% if @restaurant.google_rating %>
<%= render 'reviews/buttons/google_stars', :google_rating => @restaurant.google_rating.to_i %>
<% end %>
 <%= render 'reviews/buttons/request_review', :venue => @restaurant, :text => "Ask friends" %>
 	<%= render 'restaurants/buttons/share_detail_button', :restaurant => @restaurant, :text => "Ask advice" %>
 <p id='msg'></p>
</div>