<div class = "recommended_restaurant_title">
<h2 >What your friends recommend</h2>
</div>
<% if @restaurant_list.blank? && @google_restaurant_list.any? %>
<div class = "no_recommended_restaurant_title rounded-corner">
<h2>No-one in your trusted circle has reviewed a matching location</h2>
<h2>This is your chance to review new restaurants for them!</h2>
</div>
<% else  %>
<ul>
	<%= render :partial => 'restaurants/recommended_restaurant_summary', :collection => @restaurant_list, :as => :venue %>
</ul>
<% end %>
