<div id = "restaurant_info_left">
	<img id = "restaurant_photo"></img>
		<div id = "venue_name"></div>
		 <div id = "formatted_address" class = "formatted_address"></div>	
	<div id = "keywords"></div>
	
</div>