<%= render 'restaurants/google_maps_script' %>
<%= @detail["result"]["geometry"]["location"]["lat"] %>
<%= javascript_tag do %>
window.reference = "<%= j @attr["google_reference"] %>";

<% end %>

<div id="map"></div>
