
div#header_wrapper{
	//border-bottom: 1px solid #C0C0C0;
}

header#app_header{
	height: 50px;
	position: relative;
	font-size: 14px;
margin: 0px auto;
	padding-top: 0px;
	width: 850px;


	a{
		color: black;
		font-weight: bold;
		vertical-align: middle;
		text-decoration: none;
		font-size: 130%;
	}

	#logo{
		height: 30px;
		vertical-align: middle;
	}

}

#app_header_left{
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	width: auto;
	top: 10px;

	#home_button{
		font-size: 200%;
	}
}

.app_header_item{
		display: table-cell;
		padding-left: 10px;
		padding-right: 10px;
	}

#app_header_right{
	display: inline-block;
	float: right;
	left: 500px;
	top: 10px;

	#help_button{
		vertical-align: middle;
		padding-right: 5px;
	}


	#my_profile_button{
		vertical-align: middle;
		padding-right: 10px;
	}

	#edit_profile_icon{
		
		padding-right: 10px;
vertical-align: middle;

	}

	#fb-logout{
			
	}

	#logout_icon{
		vertical-align: middle;	
	}
}



.flash{
	position: absolute;
	top: 20px;
	margin: 5px;
	
}