#home_wrapper{

	#why_am_i_here_container{
		top: -60px;
		position: absolute;
	}
}



#why_am_i_here_container{
	
	margin-left: 35%;
	font-size: 80%;

	a{
			text-decoration: none;
			color: #1F5967;
		font-size: 120%;
			margin-left: 0px;
			background-color: none;
			background: none;
			box-shadow: none;
			padding: 0px;
		}

		a:hover{
			text-decoration: underline;
		}

	
	/*a.rounded-corner{
	$radius: 5px;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}*/

	/*a{
		
		text-decoration: none;	
		background-color: #FFCC99;

		padding: 5px 10px;
		color: #1F5967;
		font-size: 120%;
		//margin-bottom: 15px;
		box-shadow: 5px 5px 5px #888;
		-moz-box-shadow: 5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #888;

	}

	a:hover{
		background-color: #FFD8B3;
		//color: #1F5967;
	}*/
}



#info_holder{
	//height: 400px;
	width: 800px;
	margin: auto;

	h3{
		text-align: center;
		margin: 0px auto 20px;
		color: #e52e3b;
		font-size: 130%;
	}
	h1{
		text-align: center;
		margin: 15px auto;
		font-size: 110%;
		font-weight: bold;
	}

	h2{
		height: 35px;
		margin: 0px 50px;		
		font-size: 120%;
		padding-top: 20px;
		color: #234670;
		display: inline-block;
	}

	h2:hover{
		text-decoration: underline;
	}

	h4{
		margin-bottom: 10px;
		text-align: center;
		font-weight: normal;
		font-style: italic;		
	}

	h5{
		text-align: center;
		margin: 15px;
		font-style: italic;
		font-weight: normal;
		color: #696969;
	}

	.info_header{
		margin: 10px auto 0px;
		border-top: 1px solid #C0C0C0; 
		width: 70%;
		cursor: pointer;
		
		p{
			display: inline-block;
			font-style: italic;
		}
	}

	p{
		margin: 20px auto;
	}

	#msg, #recommended_restaurant_list, #searchbox{
		margin: 0px;
	}


	.add_friends_button{
		margin-right: 10px;
		vertical-align: middle;
		display: inline;
	}

	.friend_fb_pic_small{
		display: inline;
		vertical-align: middle;
	}

	#my_profile_button{
		display: inline;
		vertical-align: middle;
	}

	.info_section{
		margin: 10px auto 0px;
		width: 70%;
		display: none;
	}


}