#why_am_i_here_container{
	position: absolute;
	margin-left: 20%;
	top: -60px;
	

	a{
		text-decoration: none;	
		background-color: #ed8b87;	
		padding: 10px 15px;
		color: white;
		font-size: 120%;
		//margin-bottom: 15px;
		box-shadow: 5px 5px 5px #888;
		-moz-box-shadow: 5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #888;

	}

	a:hover{
		background-color: #ea5e57;
	}
}



#info_holder{
	height: 400px;

	h3{
		text-align: center;
		margin: 0px auto 20px;
		color: #e52e3b;
		font-size: 130%;
	}
	h1{
		text-align: center;
		margin-bottom: 20px;
		font-size: 110%;
		font-weight: bold;
	}

	h2{
		height: 35px;
		margin: 0px 50px;		
		font-size: 120%;
		padding-top: 20px;
		color: #234670;
		display: inline-block;
	}

	h4{
		margin-bottom: 2px;
		text-align: center;
		font-weight: normal;
		font-style: italic;
	}

	.info_header{
		margin: 10px auto 0px;
		border-top: 1px solid #C0C0C0; 
		width: 70%;
		cursor: pointer;

		p{
			display: inline-block;
			font-style: italic;
		}
	}

	p{
		margin: 20px auto;
	}

	#msg, #recommended_restaurant_list, #searchbox{
		margin: 0px;
	}


	.add_friends_button{
		margin-right: 10px;
		vertical-align: middle;
		display: inline;
	}

	.friend_fb_pic_small{
		display: inline;
		vertical-align: middle;
	}

	#my_profile_button{
		display: inline;
		vertical-align: middle;
	}

	.info_section{
		margin-left: 120px;
		display: none;
	}


}