// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#follow_buttons{
	position: relative;

	li{
		margin-bottom: 15px;
	}


	a, .not_highlighted{
		height: 20px;
		
		position: relative;
		text-decoration: none;
		padding: 5px;
		color: #343434;
		background-color: transparent;


	}

	.highlighted, a:hover {
		text-decoration: underline;
	}

	.selected{
		color: black;
		text-decoration: underline;
	}


	.add_friends_button{
		color: black;
		
		
	}

}

.follow_button{
		text-align: center;

		
		
	}