// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant_info{
	width: 600px;
	height: 250px;
	position: relative;

	div#restaurant_info_left{
		float: left;
		width: 350px;
	}

}

div#restaurant_info_right{
	width: 225px;
	float: left;

	#venue_name{
		font-weight: bold;
	}

	form.edit_review, .new_review{
		margin-bottom: 10px;

	}

}


.flat_list{
	margin-bottom: 10px;

	#app_stars{
		padding-right: 10px;
	}

	#review_count{
		font-size: 80%;
	}

	.flat_list_item{
		display: table-cell;
	}

	#google_logo{
		margin-left: 10px;
		vertical-align: middle;
	}

	.review_detail_update, .new_review_detail{
		margin-left: 15px;
	}

}

.formatted_address{
	margin-top: 10px;
	width: 250px;
	word-wrap: break-word;
	font-size: 80%;
}


ul#restaurant_review_list{
	float: left;
	margin-top: 50px;
}

.map{

	margin-left: 20px;
	float: right;
	width: 200px;
	height: 200px;
}

#recommended_restaurant_list{
	margin-top: 30px;
}

li#restaurant_summary,#recommended_restaurant_summary{

	width: 650px;
	height: auto;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
	margin-bottom: 10px;
	padding: 10px;

	div#restaurant_summary_wrapper{
		height: 120px;
	}


	#restaurant_summary_left{
		width: 400px;
		float: left;

		ul{
			padding: 0px;
			position: relative;
			width: 400px;

			li{
				margin-bottom: 5px;
			}

			#venue_name{
				font-weight: bold;
			}

		}

		#address_line_01{
			margin-top: 20px;
		}

		#address_line_02{
			font-size: 80%;
			margin-top: 0px;
		}

	}



}

li#recommended_restaurant_summary{
	background-color: #DFFF87;

}

#info_name{
	font-weight: bold;
}

#full_reviewer_list{
	display: none;
}

.reviewer_list{
	font-size: 80%;
	position: relative;
	display: block;
}



