// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant_info{
	margin-top: 30px;
	
	width: 650px;
	height: 350px;
	position: relative;

	div#restaurant_info_left{
		float: left;
	}

	div#restaurant_info_right{
		float: left;
	}

	#venue_name{
		font-weight: bold;
	}

	#formatted_address{
		width: 250px;
		word-wrap: break-word;
	}


}

#searchbox{
	position: relative;
	width: auto;
	
}

ul#restaurant_review_list{
	position: relative;
	width: 1000px;
}

.map{

	margin-left: 20px;
	float: right;
	width: 250px;
	height: 250px;
}



li#restaurant_summary,#recommended_restaurant_summary{

	height: 120px;
	position: relative;
	margin-bottom: 10px;


	#restaurant_summary_left{
		width: 400px;
		float: left;

		ul{
			padding: 0px;
			position: relative;
			width: 400px;

			li{
				margin-bottom: 5px;
			}

			#venue_name{
				font-weight: bold;
			}

			#venue_formatted_address{
				font-size: 14px;
				margin-bottom: 0px;
			}
			
		}

	}

	#google_rating{
		
	}

	#restaurant_summary_right{
		float: left;
		top: 20px;
		width: 200px;
		bottom: 60px;
		margin-top: 20px;
		
		#share_button{

		}
	}


}

li#recommended_restaurant_summary{
	background-color: #9CE62A;
 }

#info_name{
	font-weight: bold;
}

#full_reviewer_list{
	display: none;
}