// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant_info{
	width: 600px;
	height: 250px;
	position: relative;

	div#restaurant_info_left{
		float: left;
		width: 55%;

		#venue_name{
			margin-top: 10px;
		}
	}

	div#restaurant_info_right{
		float: left;


		.button_to{
			vertical-align: middle;
		}


	}

}


#venue_name{
	font-weight: bold;
}




.flat_list{
	margin-bottom: 10px;

	.stars{
		margin-left: 0px;
	}

	li{
		vertical-align: middle;
	}

	
	.flat_list_item{
		display: table-cell;
		height: 100%;
	}

	#google_logo{
		margin-left: 10px;
		//vertical-align: middle;
		height: auto;
	}

	.review_detail_update, .new_review_detail{
		margin-left: 10px;
	}

	#review_count{
		padding-left: 10px;
	}

}

.formatted_address{
	margin-top: 10px;
	width: 250px;
	word-wrap: break-word;
	font-size: 80%;
}


ul#restaurant_review_list{
	
	margin: 50px auto;
}

.map{

	margin-left: 20px;
	float: right;
	width: 200px;
	height: 200px;
}

#recommended_restaurant_list, #restaurant_list{
	margin-top: 30px;
	width: 300px;
	float: left;


		a#google_logo{
			pointer-events: none;
			cursor: default;
		}
	

	.google_restaurant_title{
		text-align: center;
		margin-bottom: 15px;
	}

	.recommended_restaurant_title{
		text-align: center;
		margin-bottom: 40px;
	}
	
}

#recommended_restaurant_list{
	margin-left: -60px;

	.no_recommended_restaurant_title{
		text-align: center;
		border: 1px solid #C0C0C0;
		padding: 15px;
		h2{
			font-weight: normal;
			margin-bottom: 10px;
		}
	}
}



#restaurant_list{
	float: right;
	margin-right: 15px;

	.google_restaurant_top_line{
		font-size: 80%;
		vertical-align: center;
	}

	.google_next_button{
		float: right;
		margin-right: 50px;

	}

}

li#restaurant_summary,#recommended_restaurant_summary{
	width: 300px;

	#restaurant_summary_left{
		width: 275px;
		margin-bottom: 5px;
		

		ul{
			padding: 0px;
			position: relative;
			width: 400px;

			li{
				margin-bottom: 5px;
			}

			#venue_name{
				font-weight: bold;
				font-size: 90%;
			}

		}

	}

	#restaurant_info_right{
		width: 300px;
	}


}

li.user_review, .review_summary{
	width: 650px;
}

li#restaurant_summary,#recommended_restaurant_summary, .user_review, .review_summary{

	height: auto;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
	margin-bottom: 10px;
	padding: 10px;

	

	.reviewer_list{
		border-bottom: none;
		width: 100%;
	}

	a{
		color: blue;
	}

	a:hover{
		color: purple;
	}

	#address_line_01{
		margin-top: 20px;
	}

	#address_line_02{
		margin-top: 0px;
	}

	.distance{
		font-weight: bold;
	}

}

li#recommended_restaurant_summary{
	//background-color: #CCE2F1;
	border: 1px solid #C0C0C0;

}

#info_name{
	font-weight: bold;
}

#full_reviewer_list{
	display: none;
}

.reviewer_list{
	font-size: 80%;
	position: relative;
	display: block;
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 15px;
}



