// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_summary{
	min-height: 75px;
	margin: 0px auto;


	.review_summary_left{
		width: 15%;
		height: 75px;

		.user_small_pic{
			position: relative;
			display: block;
		}

	}

	.review_summary_center{
		width: 40%;
	}

	.review_summary_right{
		width: auto;
		margin-top: 0px;


	}
}

.review_summary_left{
	float: left;
	margin-right: 10px;
	width: 110px;
	height: 150px;


	.user_small_pic{
		position: relative;
		display: block;
	}

	#reviewer{
		text-align: center;
	}
}

.review_summary_center{
	width: 35%;
	float: left;
	margin-top: 10px;
}

.review_summary_right{
	width: 25%;
	float: left;
	margin-top: 10px;

	#review_count{
		margin-top: 15px;
		font-size: 80%;
	}

	li{
		margin-top: 10px;
		vertical-align: middle;
	}

	ul{
		margin-top: 10px;
	}

	#detail_friend{
		margin-left: 10px;
	}
}

.review_summary_text{
	margin: 10px 35px 10px 10px;
	width: 100%;
	font-size: 90%;
	clear: left;
}



div.user_review{
	width: 800px;
	margin-bottom: 20px;
	min-height: 160px;
	padding: 5px 0px 20px;

	#restaurant_name{
		font-weight: bold;
		font-size: 95%;
	}

	
	.review_summary_photo{
		display: block;
	}

	
	
	.map_summary{
		float: left;
		width: 150px;
		height: 150px;
	}

	.stars{
			margin-left: 0px;
		}

}