// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#review_summary{
	width: 550px;
	position: relative;

	.review_summary_left{
		position: relative;

		.user_small_pic{
			position: relative;
			display: block;
		}

		#reviewer{
			text-align: center;
		}
	}

	#review_rating{
		position: relative;
	}

	#review_text{
		position: relative;
		
	}

	#detail_friend{
		position: relative;
		
	}

}



div.user_review{
	width: 1000px;
	margin-bottom: 20px;
	height: 300px;

	#restaurant_name{
		font-weight: bold;
	}

	.review_summary_left{
		float: left;


		.review_summary_photo{
			display: block;
		}

		#button_friend{
			display: block;
		}
	}

	#review_data{
			float: left;
			width: 500px;
		}

	.map_summary{
		float: left;
		width: 200px;
		height: 200px;
	}

}