// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_summary{
	width: 550px;
	height: auto;

	.review_summary_left{
		left: 20px;
		position: relative;
		margin: 0px;

		.user_small_pic{
			position: relative;
			display: block;
			margin-left: 20px;

		}

		#reviewer{
			text-align: center;
		}
	}

	#review_rating{
		width: 50px;
		position: relative;
		left: 120px;
		top: 40px;
		margin: 0px;
	}

	#review_text{
		position: relative;
		left: 150px;
		top: 70px;
	}

	#detail_friend{
		position: relative;
		left: 250px;
	}


}