// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#title{
	font-size: 18px;
	left: 50px;
	position: relative;
}

.info_review_img{
	height: 70%;
	width: 70%;
}

#why_am_i_here_container{
	position: absolute;
	margin-left: 20%;
	top: 100px;

	a{
		text-decoration: none;	
		background-color: #ed8b87;	
		padding: 10px 15px;
		color: white;
		font-size: 120%;

		box-shadow: 5px 5px 5px #888;
		-moz-box-shadow: 5px 5px 5px #888;
		-webkit-box-shadow: 5px 5px 5px #888;

	}

	a:hover{
		background-color: #ea5e57;
	}
}

#info_holder{

	h3{
		text-align: center;
		margin: 0px auto 20px;
		color: #e52e3b;
		font-size: 130%;
	}
	h1{
		text-align: center;
		margin-bottom: 20px;
		font-style: italic;
		font-weight: normal;
	}

	h2{
		height: 35px;
		margin: 0px 50px;		
		font-size: 120%;
		padding-top: 20px;
		color: #234670;
		display: inline-block;
	}

	.info_header{
		margin: 10px auto 0px;
		border-top: 1px solid #C0C0C0; 
		width: 70%;
		cursor: pointer;

		p{
			display: inline-block;
			font-style: italic;
		}
	}

	p{
		margin: 20px auto;
	}

	#msg, #recommended_restaurant_list, #searchbox{
		margin: 0px;
	}


	.add_friends_button{
		margin-right: 10px;
		vertical-align: middle;
		display: inline;
	}

	.friend_fb_pic_small{
		display: inline;
		vertical-align: middle;
	}

	#my_profile_button{
		display: inline;
		vertical-align: middle;
	}

	.info_section{
		margin-left: 120px;
		display: none;
	}


}

#login_holder{
	width: 300px;
	margin: 50px auto;
	text-align: center;
	padding: 10px;

	h1{
		text-align: center;
		font-size: 150%;
		vertical-align: middle;
	}

	.join_buttons{
		width: 150px;
		height: 30px;
		margin: 50px auto;

	#login_button{
		vertical-align: middle;
		height: 25px;
		float: left;

	}

	#why_am_i_here{
	float: right;
	vertical-align: middle;
	height: 25px;
		
	}
}


}

