// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#title{
	font-size: 18px;
	left: 50px;
	position: relative;
}

.info_review_img{
	height: 70%;
	width: 70%;
}



#login_holder{
	width: 300px;
	margin: 50px auto;
	text-align: center;
	padding: 10px;

	h1{
		text-align: center;
		font-size: 150%;
		vertical-align: middle;
	}

	.join_buttons{
		width: 150px;
		height: 30px;
		margin: 50px auto;

		#login_button{
			vertical-align: middle;
			height: 25px;
			float: left;

		}

		#why_am_i_here{
			float: right;
			vertical-align: middle;
			height: 25px;

		}
	}


}

#register_holder{
	width: 450px;
	margin: 10px auto 20px;

	h1,h2{
		
		text-align: center;
	}

	h1{
		margin-bottom: 20px;
	}

	h2{
		font-weight: normal;
	}
}

