

$starWidth: 20px;
$starOffset: 0 -43px;
$numStars: 5;
$steps: 1;
$total: $numStars * $steps;

@mixin filled($n: 0){
	width: ($starWidth / $steps) * $n;
}

@mixin stars_values{
	height: 25px;
	background-size: $starWidth;
	vertical-align: middle;
	padding: 0px;
	margin-left: 0px;
	margin-top: 5px;
}

.stars{
	

	&.empty{
		background-position: $starOffset;
		width: $numStars * $starWidth;
		background: url(/assets/star-grey.png) repeat-x top left;
		@include stars_values;
	}

	
	
	

	@for $i from 0 through ($total){
		&.filled_#{$i} {@include filled($i);
			background: url(/assets/star-blue.png) repeat-x top left;
			@include stars_values;

			&.google{
				background: url(/assets/star-red.png) repeat-x top left;
				@include stars_values;
			}
		}
	}
}

.input_stars{
	@include stars_values;
	margin: 0px;
	width: $starWidth;
	background-image: url(/assets/star-grey.png);
	background-repeat: no-repeat;
	position: relative;
	float: left;
}

.input_stars_full{
	background-image: url(/assets/star-turquoise.png);
}