
.recommendation_wrapper{
	height: 100%;
}

	.recommendation_title{
		width: 100%;
		margin-bottom: 10px;
		border-bottom: 1px solid #C0C0C0;

		h2{
			width: 250px;
			padding-bottom: 10px;
			font-weight: normal;
		}

	}


.suggestion_user, .suggestion_restaurant{
	border: 1px solid #C0C0C0;
	float: left;
	margin: 10px;
	padding: 5px;
	font-size: 80%;
	height: 100px;

	#app_stars{
		display: none;
	}

	.suggestion_text{
		//float: right;
		display: inline;
		vertical-align: top;
		position: relative;
	}

	p{
		margin-bottom: 5px;
	}
}
.suggestion_user{

	.suggested_user_left{
		float: left;
		min-width: 60px;
	}
	
	.suggestion_pic{
		margin: 0px auto;
		display: block;	
	}
	
	.suggestion_text{
		float: right;
		
		
		
	}
}


.suggestion_restaurant{
min-width: 200px;

ul.flat_list{
	margin-bottom: 0px;
}
}