// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend_title{
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

#facebook_friends{
	float: left;
	border-right: 1px solid #C0C0C0;
	padding-right: 5px;
	
}

#facebook_friends_enrolled{
	float: left;
	width: 50%;
	margin-left: 15px;
	

}

.new_user_summary{
		
		font-size: 80%;
		height: 30px;
		border-bottom: 1px solid #C0C0C0;
		padding: 10px;
		display:  block;


		.user_small_pic{
			float: left;
			vertical-align: middle;
			display:  inline-block;
			height: 30px;
			width: 30px;

		}

		.user_summary_left{
			float: left;
			vertical-align: middle;
			display:  block;
			margin: 8px 0px 0px 8px;

		}

.review_count{
			float: right;
			vertical-align: middle;
			display: block;
			margin: 5px 10px 0px 0px;
		}
		.follow_button{
			float: right;
			display:  inline-block;
			//margin: 8px 0px 0px 8px;

		}

		

	}

div.user_info{
	width: 700px;
	height: 200px;
	margin: 0px auto;

	div#user_info_left{
		float: left;
		width: 40%;

		h3{
			font-size: 120%;
			margin-top: 40px;
		}
	}


	div#user_info_center{
		float: left;
		width: 30%;

		li{
			vertical-align: middle;
		}

	}

	div#user_info_right{
		position: relative;
		float: left;
	}

	#user_large_pic{
		display: block;
	}

	.follow_button{
		text-align: center;
	}

}

div#user_info_center, .user_summary_center{
	
	li{
		vertical-align: middle;
	}

}


nav#follow_buttons{
	position: relative;
	margin-left: 20px;
	height: 30px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	border-bottom: 1px solid #C0C0C0;

	a{
		margin-left: 10px;
	}

	a, .not_highlighted{
		height: 20px;
		float: left;
		position: relative;
		text-decoration: none;
		padding: 5px;
		color: #343434;
		background-color: transparent;


	}

	.highlighted, a:hover {
		text-decoration: underline;
	}

	.selected{
		color: black;
		text-decoration: underline;
	}

	

	


	.add_friends_button{
		color: black;
		margin-left: 210px;
	}

}

div#relationship_list{
	position: relative;
	width: 800px;

	

	.pagination{
		width: auto;
		text-align: left;
		position: relative;
	}
}

li.user_summary{
	width: 650px;
	height: 100px;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
	padding: 10px ;


	div.user_summary_left{
		float: left;
		width: 40%;
		margin-left: 20px;
		margin-top: 30px;


	}

	div.user_summary_center{
		float: left;
		width: 35%
	}

	div.summary_right{
		float: left;
		margin: 0px;
		padding: 0px;
	}

	.follow_button{
		text-align: center;
	}

	.user_small_pic{
		display: block;
		margin: auto;
	}

}


