// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#facebook_friends{
	float: left;

}

#facebook_friends_enrolled{
	float: left;

}

div.user_info{
	width: 700px;
	height: 200px;
	margin: 0px auto;

	div#user_info_left{
		float: left;
		width: 45%;

		h3{
			font-size: 120%;
			margin-top: 40px;
		}
	}


	div#user_info_center{
		float: left;
		width: 30%;
	}

	div#user_info_right{
		position: relative;
		float: left;
	}

	#user_large_pic{
		display: block;
	}

	.follow_button{
		text-align: center;
	}

}

div#user_info_center, .user_summary_center{
	.flat_list{
		

		.flat_list_item{
			display: block;
			
			text-align: left;
			margin-top: 10px;
			padding-right: 0px;
		}

		#app_stars{
			padding-right: 0px;
		}
	}

}


nav#follow_buttons{
	position: relative;
	
	margin-left: 20px;
	margin-bottom: 30px;

	a{
		margin: 0px 10px;
	}

	#add_friends_button{
		padding-left: 200px;
	}

}

div#relationship_list{
	position: relative;
	width: 800px;

	

	.pagination{
		width: auto;
		text-align: left;
		position: relative;
	}
}

li.user_summary{
	width: 650px;
	height: 100px;
	position: relative;
	border-bottom: 1px solid #C0C0C0;
	padding: 10px ;


	div.user_summary_left{
		float: left;
		width: 40%;
		margin-left: 20px;
		margin-top: 30px;


	}

	div.user_summary_center{
		float: left;
		width: 35%
	}

	div.summary_right{
		float: left;
		margin: 0px;
		padding: 0px;
	}

	.follow_button{
		text-align: center;
	}

	.user_small_pic{
		display: block;
		margin: auto;
	}

}
