// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#facebook_friends{
	float: left;

}

#facebook_friends_enrolled{
	float: left;

}

div#user_info{
	width: 600px;

	#user_large_pic{
		position: absolute;
		left: 600px;
	}
}

nav#follow_buttons{
	position: absolute;
	top: 200px;
	margin-left: 20px;
	margin-bottom: 30px;

	a{

	}

	#add_friends_button{
		padding-left: 200px;
	}

}

div#relationship_list{
	position: absolute;
	top: 250px;
	width: 1000px;

	li#user_summary{
		width: 400px;
		position: relative;

		a.user_name_link{
			position: relative;
			top: 25px;

		}

		div.summary_right{
			position: relative;
			margin: 0px;
			padding: 0px;
			left: 300px;
			width: 80px;

		}

		.follow_button{
			text-align: center;
		}

		.user_small_pic{
			display: block;
			margin: auto;


		}
	}
}

