<ul class = "feed_placeholder">
	<li>
	Man, this feed is pretty sparse.</li>
	<li>Get active!</li>
	<li><%= link_to "Find your Facebook friends", facebook_friends_user_path(:id => session['user_id']), :class => "add_friends_button" %></li>
	<li>or</li>
	<li><%= link_to "Review a restaurant!", home_path(:welcome => params[:welcome]), :class => "home_button" %></li>

</ul>