<ul><% @user.reviews.each do |review| %>
<% set_review_google_info(review) %>
<%= render "reviews/user_review_summary", :review => review %></body>
<%= javascript_tag "initialize_map(#{@lat}, #{@lng}, '#{@reference}')" %>
<% end %></ul>