<% @map_array << set_review_google_info(review) %>
<% parsed_address = split_formatted_address(review.restaurant.formatted_address) %>
<div class = "user_review">
	<%= render "reviews/summary_partials/user_review_summary_left", :review => review, :parsed_address => parsed_address %>
	<%= render "reviews/summary_partials/user_review_summary_right", :review => review, :parsed_address => parsed_address %>
	<div class = "map_summary" id="map_<%= review.id %>"></div>
	
	<%= render 'reviews/summary_partials/review_summary_text', :review => review %>
</div>