<div id = "header_wrapper">
<% if @access_token %>
<%= render 'layouts/logged_in_header' %>
<% else %>
<%= render 'layouts/logged_out_header' %>
<% end %>
</div>
<div id = "big_loader">
	<%= image_tag 'load.gif' %>
	<p>Finding your friends...</p>
</div>