<header id = "app_header">
<ul id= "app_header_left">
		<li class = 'app_header_item'><%= image_tag '/assets/logo.png', :id => 'logo' %></li>
		<li class = "app_header_item" id="home_button"><%= "#{APP_NAME}" %></li>
	</ul>

</header>